<script language="javascript">
$(function(){
	$("#addFormPav{$uniqid}").form('load',{
		'name':'<?php echo $info["name"] ?>',
		'telephone':'<?php echo $info["telephone"] ?>',
        'addr':'<?php echo $info["addr"] ?>',
        'cityid':'<?php echo $info["cityid"] ?>',
        'thumb':'<?php echo $info["thumb"] ?>',
        'hits':'<?php echo $info["hits"] ?>',
        'recommend':'<?php echo $info["recommend"] ?>',

        'website':'<?php echo $info["website"] ?>'
	});
        // 省级 
     $('#province').combobox({
            valueField:'id',
            textField:'name',
            url:'__ITEM__/index.php/Admin/citys/list_json',
            panelHeight:200,
            required:true,
            editable:false,
            value:'<?= $info['province_id']?$info['province_id']:'--请选择--' ?>',
            onChange:function(pid){
                $('#city').combobox({
                valueField:'id',
                textField:'name',
                url:'__ITEM__/index.php/Admin/citys/list_json/id/'+pid,
                panelHeight:200,
                required:true,
                editable:false,
                value:'--请选择--',
                onChange:function(cid){
                   $("#cityid").val(cid);
                }
            });
             $("#cityid").val(pid);
            }
         });
    //县市区
    $('#city').combobox({
            valueField:'id',
            textField:'name',
            <?php if($info['province_id']){ ?>url:'__ITEM__/index.php/Admin/citys/list_json/id/'+'<?= $info['province_id'] ?>',<?php } ?>
            panelHeight:200,
            required:true,
            editable:false,
            value:'<?= $info['cityid']?$info['cityid']:'--请选择--' ?>',
            onChange:function(cid){
               $("#cityid").val(cid);
            }
        });

        
});

var idd = '';
function onSubmitPav(idd){
	$.messager.progress();
	$("#addFormPav"+idd).form('submit',{
		url:'__URL__/add/act/add/go/1',
		success:function(data){
			$.messager.progress('close');
            console.log(data);
			if(data==1){
				$.messager.alert('提示','新增数据成功！','info',function(){
					var sa = '{$Think.config.SUBMIT_ACTION}';
					$("#Pav").datagrid('reload');
					if(sa==1){
						cancel['Pav'].dialog('close');
						cancel['Pav'] = null;
					}
				});
			}else if(data==0){
				$.messager.alert('提示','新增数据失败！','warning');
			}else{
				$.messager.alert('提示','您没有新增权限！','warning',function(){
					var sa = '{$Think.config.SUBMIT_ACTION}';
					if(sa==1){
						cancel['Pav'].dialog('close');
						cancel['Pav'] = null;
					}
				});
			}
		}
	});
}

function onUploadPav(idd){
	$.messager.progress();
	var ids = $("#ids"+idd).val();
	$("#addFormPav"+idd).form('submit',{
		url:'__URL__/add/act/edit/go/1/id/'+ids,
		success:function(data){
			$.messager.progress('close');
            console.log(data);
			if(data==1){
				$.messager.alert('提示','更新数据成功！','info',function(){
					var sa = '{$Think.config.SUBMIT_ACTION}';
					$("#Pav").datagrid('reload');
					if(sa==1){
						cancel['Pav'].dialog('close');
						cancel['Pav'] = null;
					}
				});
				$("#add").dialog('refresh');
			}else if(data==0){
				$.messager.alert('提示','更新数据失败！','warning');
			}else{
				$.messager.alert('提示','您没有修改权限！','warning',function(){
					var sa = '{$Think.config.SUBMIT_ACTION}';
					if(sa==1){
						cancel['Pav'].dialog('close');
						cancel['Pav'] = null;
					}
				});
			}
		}
	});
}

function onResetPav(idd){
	cancel['Pav'].dialog('close');
	cancel['Pav'] = null;
}
</script>
<div class="con-tb">

<form id="addFormPav{$uniqid}" method="post">
 <table class="infobox" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="14%"><label for="name">展馆名称</label></td>
    <td width="36%"><input name="name" class="easyui-validatebox" data-options="required:true" style="width: 99%"><input id="ids{$uniqid}" type="hidden" value="{$id}"></td>
    <td width="14%"><label for="telephone">联系电话</label></td>
    <td width="36%"><input name="telephone" class="easyui-validatebox" data-options="required:true,validType:'Tel'" size="28"  /></td>
  </tr>
  <tr>
    <td width="14%"><label for="cityid">地区</label></td>
    <td width="36%">
      <input type="hidden" name="cityid" value="{$info['cityid']}" id="cityid">
      <select id="province" style="width: 128px" class="easyui-validatebox"></select>
      <select id="city" style="width: 128px" class="easyui-validatebox"></select></td>
    <td><label for="addr">地址</label></td>
    <td><input name="addr" class="easyui-validatebox" data-options="required:true" style="width: 99%"></td>
  </tr>
  <tr>
    <td width="14%"><label for="website">网址</label></td>
    <td width="36%"><input name="website" class="easyui-validatebox" data-options="required:false" style="width: 99%" placeholder="示例:http://www.baidu.com/"></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td width="14%"><label for="thumb">封面图片</label></td>
    <td colspan="3">
      
      <input class="easyui-ueditor" name="thumb" id="thumb" data-options="editType:'upImg'"/>
    </td>
  </tr>
  <tr>
    <td width="14%"><label for="recommend">推荐</label></td>
    <td width="36%">
       <select class="easyui-combobox" name="recommend" id="recommend">  
        <option value="0">请选择</option>  
        <option value="1">推荐</option>  
        <option  value="0">取消推荐</option>  
     </select>
    <td><label for="hits">浏览量</label></td>
    <td><input name="hits" id="hits" class="easyui-validatebox" data-options="" size="10"></td>
  </tr>
  <tr>
    <td width="14%"><label for="images">图片展示</label></td>
    <td colspan="3">
      <textarea class="easyui-ueditor" name="images" id="images" data-options="editType:'upMutiImgs'" style="display: none;">{$info['images']}</textarea>
    </td>
  </tr>
  <tr>
    <td width="14%"><label for="dimensions">规模</label></td>
    <td colspan="3"><textarea name="dimensions" id="dimensions" data-options="required:false" style="height:100px;width: 99%">{$info['demansions']}</textarea></td>
  </tr>
  <tr>
    <td width="14%"><label for="dimensions">介绍</label></td>
    <td colspan="3"><textarea class="easyui-kindeditor" name="content" id="content" style="height:300px;width: 99%">{$info['content']}</textarea></td>
  </tr>
  <tr>
    <td height="38" colspan="4" align="center"><if condition="$act=='add'"><a href="javascript:void(0);" onclick="javascript:onSubmitPav('{$uniqid}')" id="su" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a><else /><a href="javascript:void(0);" onclick="javascript:return onUploadPav('{$uniqid}')" id="sue" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a></if> &nbsp; <a href="javascript:void(0);" onclick="javascript:onResetPav('{$uniqid}')" id="re" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">关闭</a></td>
  </tr>
 </table>
</form>
</div>