<script language="javascript">
var role = '{$role}';
var act = '{$act}';
if(role==-2){
	$.messager.alert('提示','您没有新增权限！','warning');
	cancel['Design'].dialog('close');
	cancel['Design'] = null;
}else if(role==-3){
	$.messager.alert('提示','您没有编辑权限！','warning');
	cancel['Notice'].dialog('close');
	cancel['Notice'] = null;
}
$(function(){
	$("#addFormDesign{$uniqid}").form('load',{
		'title':'<?php echo $info["title"] ?>',
		'type':'<?php echo $info["type"] ?>',
		'status':'<?php echo $info["status"] ?>',
		'startdate':'<?php echo $info["startdate"] ?>',
		'enddate':'<?php echo $info["enddate"] ?>',
		'mid':'<?php echo $info["mid"] ?>',
		'plantime':'<?php echo $info["plantime"] ?>',
	});
	
	$("#status{$uniqid}").combobox({
		url:'__ITEM__/__RUNTIME__/Data/Json/Linkage/fanganzhuangtai_data.json',
		editable:false,
		method:'get',
		required:true,
		valueField:'id',
		textField:'text',
		onLoadSuccess:function(){
			if(act=='add'){
				$("#status{$uniqid}").combobox('setValue',9);
			}
		}
	});
	$("#mid{$uniqid}").combotree({
		required:true,
		url:'__ITEM__/Admin/designer/members_json',
		editable:true,
		method:'get',
		required:true,
		valueField:'id',
		textField:'text',
		keyHandler: {
			query : function(q) {
				queryComboTree(q, "mid{$uniqid}", 0);
			}
		},
		onBeforeSelect:function(node){
			if(isset(node.children)){
				$("#mid{$uniqid}").tree("unselect");
			}
		}
	});
});

var idd = '';
function onSubmitDesign(idd){
	$.messager.progress();
	$("#addFormDesign"+idd).form('submit',{
		url:'__URL__/design/act/add/go/1',
		onSubmit: function(){
			var isValid = $(this).form('validate');
			if (!isValid){
				$.messager.progress('close');
			}
			return isValid;
		},
		success:function(data){
			$.messager.progress('close');
            console.log(data);
			if(data==1){
				$.messager.alert('提示','新增数据成功！','info',function(){
					var sa = '{$Think.config.SUBMIT_ACTION}';
					$("#designTree").tree('reload');
					$("#designList").datagrid('reload');
					if(sa==1){
						cancel['Design'].dialog('destroy');
						cancel['Design'].dialog('close');
						cancel['Design'] = null;
					}
				});
			}else if(data==0){
				$.messager.alert('提示','新增数据失败！','warning');
			}else{
				$.messager.alert('提示','您没有新增权限！','warning',function(){
					var sa = '{$Think.config.SUBMIT_ACTION}';
					if(sa==1){
						cancel['Design'].dialog('destroy');
						cancel['Design'].dialog('close');
						cancel['Design'] = null;
					}
				});
			}
		}
	});
}

function onUploadDesign(idd){
	$.messager.progress();
	$("#addFormDesign"+idd).form('submit',{
		url:'__URL__/design/act/edit/go/1',
		onSubmit: function(){
			var isValid = $(this).form('validate');
			if (!isValid){
				$.messager.progress('close');
			}
			return isValid;
		},
		success:function(data){
			$.messager.progress('close');
			if(data==1){
				$.messager.alert('提示','更新数据成功！','info',function(){
					var sa = '{$Think.config.SUBMIT_ACTION}';
					$("#designTree").tree('reload');
					$("#proDetailCon").panel('refresh');
					if(sa==1){
						cancel['Design'].dialog('destroy');
						cancel['Design'].dialog('close');
						cancel['Design'] = null;
					}
				});
				$("#add").dialog('refresh');
			}else if(data==2){
				$.messager.alert('提示','该任务已审核，不能更新！','warning');
			}else if(data==0){
				$.messager.alert('提示','更新数据失败！','warning');
			}else{
				$.messager.alert('提示','您没有更新权限！','warning',function(){
					var sa = '{$Think.config.SUBMIT_ACTION}';
					if(sa==1){
						cancel['Design'].dialog('destroy');
						cancel['Design'].dialog('close');
						cancel['Design'] = null;
					}
				});
			}
		}
	});
}

function onResetDesign(idd){
	cancel['Design'].dialog('destroy');
	cancel['Design'].dialog('close');
	cancel['Design'] = null;
}
</script>
<div class="con-tb">
<form class="add-design" id="addFormDesign{$uniqid}" method="post">
 <table class="infobox" width="100%" border="0" cellspacing="0" cellpadding="0">

  <tr>
    <td width="13%"><label for="mid">设计师</label><input name="id" type="hidden" value="{$info.id}" /><if condition="$act=='add'"><input name="pro_id" type="hidden" value="{$id}" /><else /><input name="pro_id" type="hidden" value="{$info.pro_id}" /></if></td>
    <td width="20%"><input name="mid" id="mid{$uniqid}" class="relo" size="18" /></td>
    <td width="13%"><label for="enddate">计划完成日</label></td>
    <td width="20%"><input name="enddate" id="enddate{$uniqid}" class="easyui-datepicker" data-options="required:true" size="18" autocomplete="off" /></td>
    <td width="13%"><label for="status">任务状态</label></td>
    <td><input name="status" id="status{$uniqid}" class="relo" size="18" /></td>
  </tr>
  <tr>
    <td width="13%"><label for="title">方案标题</label></td>
    <td colspan="5"><input name="title" type="text" class="easyui-validatebox" value="" style="width:99%;" data-options="required:true,validType:'ptext'" /></td>
  </tr>
  <tr>
    <td width="14%"><label for="contents">方案描述</label></td>
    <td colspan="5">
    <textarea name="content" id="contentID{$uniqid}"  rows="18" style="width:99%; height:100px">{$info.baseinfo.content}</textarea>
    </td>
  </tr>
  <tr></tr>
  <tr>
    <td height="38" colspan="6" align="center"><if condition="$act=='add'"><a href="javascript:void(0);" onclick="javascript:onSubmitDesign('{$uniqid}')" id="su" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a><else /><a href="javascript:void(0);" onclick="javascript:return onUploadDesign('{$uniqid}')" id="sue" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a></if> &nbsp; <a href="javascript:void(0);" onclick="javascript:onResetDesign('{$uniqid}')" id="re" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">关闭</a></td>
  </tr>
 </table>
</form>
</div>