
<script language="javascript">
var act = '{$act}';
$(function(){
	$("#addFormUser{$uniqid}").form('load',{
		'username':'<?php echo $info["username"] ?>',
		'email':'<?php echo $info["email"] ?>',
		'mobile':'<?php echo $info["mobile"] ?>',
        'nickname':'<?php echo $info["nickname"] ?>',
        'status':'<?php echo $info["status"] ?>'
	});
});

var idd ='';
function onSubmitUser(idd){
	$.messager.progress();
	$("#addFormUser"+idd).form('submit',{
		url:'__URL__/add/act/add/go/1',
		onSubmit: function(){
			var isValid = $(this).form('validate');
			if (!isValid){
				$.messager.progress('close');
			}
			return isValid;
		},
		success:function(data){
			$.messager.progress('close');
			if(data==1){
				$.messager.alert('提示','新增数据成功！','info',function(){
					var sa = '{$Think.config.SUBMIT_ACTION}';
					$("#Users").datagrid('reload');
					if(sa==1){
						cancel['User'].dialog('close');
						cancel['User'] = null;
					}
				});
			}else if(data < 0){
				$.messager.alert('提示','您没有新增权限！','warning',function(){
					var sa = '{$Think.config.SUBMIT_ACTION}';
					if(sa==1){
						cancel['User'].dialog('close');
						cancel['User'] = null;
					}
				});
			}else if(data==2){
				$.messager.alert('提示','无法发送邮件，请检查邮箱设置！','warning');
			}else if(data==3){
                $.messager.alert('提示','用户名已被注册！','warning');
            }else if(data==4){
                $.messager.alert('提示','邮箱已经被注册！','warning');
            }else if(data==5){
                $.messager.alert('提示','手机号已经被注册！','warning');
            }else{
				$.messager.alert('提示','新增数据失败！','warning');
			}
		}
	});
}

function onUploadUser(idd){
	$.messager.progress();
	var ids = $("#ids"+idd).val();
	$("#addFormUser"+idd).form('submit',{
		url:'__URL__/add/act/edit/go/1/id/'+ids,
		onSubmit: function(){
			var isValid = $(this).form('validate');
			if (!isValid){
				$.messager.progress('close');
			}
			return isValid;
		},
		success:function(data){
			$.messager.progress('close');
            console.log(data);
			if(data==1){
				$.messager.alert('提示','更新数据成功！','info',function(){
					var sa = '{$Think.config.SUBMIT_ACTION}';
					$("#Users").datagrid('reload');
					if(sa==1){
						cancel['User'].dialog('close');
						cancel['User'] = null;
					}
				});
			}else if (data<0){
				$.messager.alert('提示','您没有修改权限！','warning',function(){
					var sa = '{$Think.config.SUBMIT_ACTION}';
					if(sa==1){
						cancel['User'].dialog('close');
						cancel['User'] = null;
					}
				});
			}else if(data==2){
				$.messager.alert('提示','无法发送邮件，请检查邮箱设置！','warning');
			}else if(data==3){
                $.messager.alert('提示','用户名已被注册！','warning');
            }else if(data==4){
                $.messager.alert('提示','邮箱已经被注册！','warning');
            }else if(data==5){
                $.messager.alert('提示','手机号已经被注册！','warning');
            }else{
				$.messager.alert('提示','更新数据失败！','warning');
			}
		}
	});
}

function onRepwd(idd){
	$.messager.progress();
	var ids = $("#ids"+idd).val();
	$("#addFormUser"+idd).form('submit',{
		url:'__URL__/rspwd/id/'+ids,
		onSubmit: function(){
			var isValid = $(this).form('validate');
			if (!isValid){
				$.messager.progress('close');
			}
			return isValid;
		},
		success:function(data){
			$.messager.progress('close');
			if(data==1){
				$.messager.alert('提示','重置密码成功！','info',function(){
					var sa = '{$Think.config.SUBMIT_ACTION}';
					if(sa==1){
						cancel['User'].dialog('close');
						cancel['User'] = null;
					}
				});
			}else if(data==0){
				$.messager.alert('提示','重置密码失败！','warning');
			}else if(data==2){
				$.messager.alert('提示','无法发送邮件，请检查邮箱设置！','warning');
			}else{
				
				$.messager.alert('提示','你没有重置密码的权限！','warning',function(){
					var sa = '{$Think.config.SUBMIT_ACTION}';
					if(sa==1){
						cancel['User'].dialog('close');
						cancel['User'] = null;
					}
				});
			}
		}
	});
}

function onResetUser(idd){
	cancel['User'].dialog('close');
	cancel['User'] = null;
}
</script>
<div class="con-tb">
<form id="addFormUser{$uniqid}" method="post">
 <table class="infobox" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="23%"><label for="username">用户名</label></td>
    <td width="77%">
    <input name="username" class="easyui-validatebox" size="22" data-options="required:true" /><input id="ids{$uniqid}" type="hidden" value="{$id}" /></td>
  </tr>
  <tr>
    <td width="23%"><label for="password">密码</label></td>
    <td width="77%"> <input name="password" type="password" class="easyui-validatebox" size="22" /><if condition="$act=='add'">(留空时自动生成)</if></td>
  </tr>
  <tr>
    <td width="23%"><label for="nickname">姓名</label></td>
    <td width="77%"> <input name="nickname" type="text" class="easyui-validatebox" size="10" data-options="required:true" /></td>
  </tr>
  <tr>
    <td width="23%"><label for="mobile">手机号</label></td>
    <td width="77%"><input name="mobile" type="text" class="easyui-validatebox" value="" size="22" data-options="required:true,validType:'Mobile'" /></td>
  </tr>
  <tr>
    <td width="23%"><label for="email">邮箱</label></td>
    <td width="77%"><input name="email" type="text" class="easyui-validatebox" value="" size="22" data-options="required:true,validType:'email'" /></td>
  </tr>
  <tr>
    <td width="23%"><label for="status">状态</label></td>
    <td width="77%">
    <select class="easyui-combobox" name="status" data-options="editable:false">  
        <option value="1">开启</option>  
        <option  value="0">关闭</option>
    </select>
   </td>
  </tr>
  <tr>
    <td height="38" colspan="2" align="center"><if condition="$act=='add'"><a href="javascript:void(0);" onclick="javascript:onSubmitUser('{$uniqid}')" id="su" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a><else /><a href="javascript:void(0);" onclick="javascript:return onUploadUser('{$uniqid}')" id="sue" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a></if> &nbsp; <a href="javascript:void(0);" onclick="javascript:onResetUser('{$uniqid}')" id="re" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">关闭</a> &nbsp; <if condition="$act=='edit'"><a href="javascript:void(0);" onclick="javascript:return onRepwd('{$uniqid}')" id="sur" class="easyui-linkbutton" data-options="iconCls:'icon-save'">重置密码</a></if></td>
  </tr>
 </table>
</form>
</div>