<div class="hz_sj_js">
	<div class="hz_sj_js1">
    	<p>主要省份:</p>
        <a class="hz_sj_te1" href="">不限</a>
        <a href="">北京</a>
        <a href="">上海</a>
        <a href="">河南</a>
         <a href="">北京</a>
        <a href="">上海</a>
        <a href="">河南</a>
         <a href="">北京</a>
        <a href="">上海</a>
        <a href="">河南</a>
    </div>
    <div class="hz_sj_js1">
    	<p>行业分类:</p>
        <a class="hz_sj_te1" href="">不限</a>
        <a href="">一面开口</a>
        <a href="">两面开口</a>
        <a href="">三面开口</a>
        <a href="">四面开口</a>
    </div>
    <div class="hz_sj_js1">
    	<p>展会面积:</p>
        <a class="hz_sj_te1" href="">不限</a>
        <a href="">木质结构</a>
        <a href="">型材结构</a>
        <a href="">衍生结构</a>
    </div>
    <div class="hz_sj_js1">
    	<p>近期展会:</p>
        <a class="hz_sj_te1" href="">不限</a>
        <a href="">现代</a>
        <a href="">前卫</a>
        <a href="">精致</a>
        <a href="">欧式</a>
        <a href="">田园</a>
    </div>
    <div class="hz_sj_js1 hz_sj_te5">
    	<p>往期展会:</p>
        <a class="hz_sj_te1" href="">不限</a>
        <a href="">500</a>
        <a href="">400</a>
        <a href="">300</a>
        <a href="">200</a>
    </div>
</div>
<div class="zh_hy_box">
	<div class="zh_hy_l">
    	<div class="zh_hy_s">
        	<p>展会列表</p>
        </div>
        <div class="zh_hy_ll">
        	<img src="images/3232.jpg">
            <div class="zh_hy_lr">
            	<div class="zh_hy_lr_a">
                	<a href="">2016第八届中国（上海）无损检测应用设备展览会暨发展论坛</a>
                </div>
                <p>举办时间：2016-3-23-6-23</p>
                <p class="zh_hy_te">地址：郑州市中原区互助路</p>
                <p class="zh_hy_te1">举办展馆： 上海新国际博览中心(SNIEC)</p>
                <p class="zh_hy_te2"><span>5622</span>人查看了该展会</p>
                <div class="zh_hy_05"><a href="">查看详情</a></div>
            </div>
        </div>
        <div class="zh_hy_ll">
        	<img src="images/3232.jpg">
            <div class="zh_hy_lr">
            	<div class="zh_hy_lr_a">
                	<a href="">2016第八届中国（上海）无损检测应用设备展览会暨发展论坛</a>
                </div>
                <p>举办时间：2016-3-23-6-23</p>
                <p class="zh_hy_te">地址：郑州市中原区互助路</p>
                <p class="zh_hy_te1">举办展馆： 上海新国际博览中心(SNIEC)</p>
                <p class="zh_hy_te2"><span>5622</span>人查看了该展会</p>
                <div class="zh_hy_05"><a href="">查看详情</a></div>
            </div>
        </div>
        <div class="zh_hy_ll">
        	<img src="images/3232.jpg">
            <div class="zh_hy_lr">
            	<div class="zh_hy_lr_a">
                	<a href="">2016第八届中国（上海）无损检测应用设备展览会暨发展论坛</a>
                </div>
                <p>举办时间：2016-3-23-6-23</p>
                <p class="zh_hy_te">地址：郑州市中原区互助路</p>
                <p class="zh_hy_te1">举办展馆： 上海新国际博览中心(SNIEC)</p>
                <p class="zh_hy_te2"><span>5622</span>人查看了该展会</p>
                <div class="zh_hy_05"><a href="">查看详情</a></div>
            </div>
        </div>
        <div class="zh_hy_ll">
        	<img src="images/3232.jpg">
            <div class="zh_hy_lr">
            	<div class="zh_hy_lr_a">
                	<a href="">2016第八届中国（上海）无损检测应用设备展览会暨发展论坛</a>
                </div>
                <p>举办时间：2016-3-23-6-23</p>
                <p class="zh_hy_te">地址：郑州市中原区互助路</p>
                <p class="zh_hy_te1">举办展馆： 上海新国际博览中心(SNIEC)</p>
                <p class="zh_hy_te2"><span>5622</span>人查看了该展会</p>
                <div class="zh_hy_05"><a href="">查看详情</a></div>
            </div>
        </div>
        <div class="zh_hy_ll">
        	<img src="images/3232.jpg">
            <div class="zh_hy_lr">
            	<div class="zh_hy_lr_a">
                	<a href="">2016第八届中国（上海）无损检测应用设备展览会暨发展论坛</a>
                </div>
                <p>举办时间：2016-3-23-6-23</p>
                <p class="zh_hy_te">地址：郑州市中原区互助路</p>
                <p class="zh_hy_te1">举办展馆： 上海新国际博览中心(SNIEC)</p>
                <p class="zh_hy_te2"><span>5622</span>人查看了该展会</p>
                <div class="zh_hy_05"><a href="">查看详情</a></div>
            </div>
        </div>
        <div class="zh_yema">
            <a class="zh_yema_te" href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">下一页</a>
		</div>
    </div>
    <div class="zh_hy_r">
    	<div class="zh_hy_s">
        	<p>品牌展会排行榜</p>
        </div>
        <div class="zh_hy_ph">
        	<img src="images/666.jpg">
            <a href="">大华伟业有限公司花样展会</a>
            <img src="images/666.jpg">
            <a href="">大华伟业有限公司花样展会</a>
            <img src="images/666.jpg">
            <a href="">大华伟业有限公司花样展会</a>
            <img src="images/666.jpg">
            <a href="">大华伟业有限公司花样扎哈展会</a>
        </div>
    </div>
</div>
 