<script language="javascript">
$(function(){
	var th = $(".top").height();
	th = 111-th;
	var wh = $(window).height()-th;
	
	$("#Exh").datagrid({
		//title:'文章列表',	
		height:wh,
		autoRowHeight:false,
		singleSelect:true,
		striped:true,
		rownumbers:true,
		method:'get',
		url:'__ACTION__/json/1',
		fitColumns:true,
		nowrap:Number('{$Think.config.DATA_NOWRAP}'),
		onBeforeLoad: function () {  
			
		},
		onDblClickRow:function(e,rowIndex,rowData){
			var se = $(this).datagrid('getSelected');
			var idd = se['id'];
			$("#addExh").dialog({
				title:'编辑文章',
				resizable:true,
				width:805,
				height:406,
				href:'__URL__/add/act/edit/id/'+idd,
				onOpen:function(){
					cancel['Exh'] = $(this);
				},
				onClose:function(){
					//$(this).dialog('destroy');
					//$("#Exh").datagrid('reload');
					cancel['Exh'] = null;
				}
			});
		},
		toolbar:[{
		iconCls: 'icon-add',
			text : '新增',
			handler: function(){
				$("#addExh").dialog({
					title:'新增文章',
					resizable:true,
                    width:805,
                    height:406,
					href:'__URL__/add/act/add',
					onOpen:function(){
						cancel['Exh'] = $(this);
					},
					onClose:function(){
						//$(this).dialog('destroy');
						//$("#Exh").datagrid('reload');
						cancel['Exh'] = null;
					}
				});
			}
		},'-',{
			iconCls: 'icon-edit',
			text : '编辑',
			handler: function(){
				var se = $("#Exh").datagrid('getSelected');
				var idd = se['id'];
				$("#addExh").dialog({
					title:'编辑文章',
					resizable:true,
					width:805,
					  height:406,
					href:'__URL__/add/act/edit/id/'+idd,
					onOpen:function(){
						cancel['Exh'] = $(this);
					},
					onClose:function(){
						//$(this).dialog('destroy');
						//$("#Exh").datagrid('reload');
						cancel['Exh'] = null;
					}
				});
			}
		},'-',{
			iconCls: 'icon-cancel',
			text : '删除',
			handler: function(){
				var se = $("#Exh").datagrid('getSelected');
				var idd = se['id'];
				$.messager.confirm('提示','确定刪除吗！',function(r){
					if(r==true){
						$.messager.progress();
						$.get('__URL__/del/id/'+idd, function(data){
							$.messager.progress('close');
							if(data==1){
								$.messager.alert('提示','删除数据成功！','info',function(){
									$("#Exh").datagrid('reload');
								});
							}else if(data==0){
								$.messager.alert('提示','删除数据失败！','warning');
							}else{
								$.messager.alert('提示','您没有删除权限！','warning');
							}
						});
					}
				});	
			}
		},{
			iconCls: 'icon-reload',
			text : '重载',
			handler: function(){
				$("#Exh").datagrid('reload');
			}
		}
		],
		columns:[[   
			{field:'title',title:'文章标题',width:200},
			{field:'cid',title:'所属分类',width:80},
                        {field:'create_time',title:'发布时间',width:80},   

		]]
	});
});
</script>
<div class="con" id="ExhCon" onselectstart="return false;" style="-moz-user-select:none;">
	<table id="Exh"></table>
</div>
<div id="addExh"></div>